APP_NAME=GraphQLCommerce
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=commerce
DB_USERNAME=postgres
DB_PASSWORD=secret

BROADCAST_CONNECTION=redis
CACHE_STORE=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_CLIENT=
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

SCOUT_DRIVER=elasticsearch
SCOUT_QUEUE=true
SCOUT_PREFIX=commerce_

ELASTICSEARCH_HOST=http://elasticsearch:9200
ELASTICSEARCH_USERNAME=null
ELASTICSEARCH_PASSWORD=null

LIGHTHOUSE_GRAPHQL_ENDPOINT=/graphql
LIGHTHOUSE_DEBUG=true

PASSPORT_PERSONAL_ACCESS_CLIENT_ID=
PASSPORT_PERSONAL_ACCESS_CLIENT_SECRET=
PASSPORT_PASSWORD_GRANT_CLIENT_ID=
PASSPORT_PASSWORD_GRANT_CLIENT_SECRET=

